body {
  font-family: "Karla" !important;
}

.App {
  text-align: center;
}

p {
  line-height: 1.5;
}

a,
Button {
  border: none !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.primary-color-green {
  color: #edefee;
  background-color: #495e57 !important;
}

.primary-color-yellow {
  background-color: #f4ce14 !important;
}

.secondary-color-orange {
  background-color: #ee9972;
}

.secondary-color-beige {
  background-color: #fbdabb;
}

.secondary-color-white {
  background-color: #edefee;
}

.secondary-color-black {
  background-color: #333333;
}

.hero-section-btn {
  color: black !important;
}
